<section class="container">
  <div class = "row">
    <div class="col-md">
        <button type="submit" class="btn btn-link update-link" data_id="{{id}}">{{title}}</button>
    </div>
    <div class="col-md">
        <p>{{formatDate posted_date}}</p>
    </div>
  </div>
</section>