<section class="card">
  <div class = "row">
    <div class="col-md" id="name">
        <a href="/dashboard/edit-post/{{id}}">{{title}}</a>
    </div>
    <div class="col-auto" id="date">
        <p>{{formatDate posted_date}}</p>
    </div>
  </div>
</section>
<br>