<section class="container">
  <div class = "row">
    <div class="col-md">
        <a href="/bpr/{{post.id}}">{{title}}</a>
    </div>
    <div class="col-md">
        <p>{{formatDate posted_date}}</p>
    </div>
  </div>
</section>