<form class = "form login-form">
    <div class="form-group">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-input" id="post-title">
    </div>
    <div class="form-group">
        <label for="content" class="form-label">Content</label>
        <input type="text" class="form-input" id="post-content">
    </div>
    <button type="submit" class="btn btn-primary" id="create-post">Create</button>
</form>