<section class="container">
  <div class = "row">
    <div class="column">
        <h3>{{title}}</h3>
    </div>
    <div class="column">
        <h3>{{posted_date}}</h3>
    </div>
  </div>
  <div class = "row">
  </div>
</section>