<section class="container">
  <div class = "row">
    <div class="column-md">
        <a href="/bpr/{{post.id}}">{{title}}</a>
    </div>
    <div class="column-md">
        <h2>{{formatDate posted_date}}</h2>
    </div>
  </div>
  <div class = "row">
    <h2>{{body}}</h2>
  </div>
</section>