{{!-- Create a series of cards (one for each post) and render them --}}
<div class="dashboard">
    <section class="flex-row justify-center">
        {{#each posts as |post|}}
            {{> dashboard-post}}
        {{/each}} 
    </section>
    {{!-- Create a button to make new posts --}}
    <button type="click" class="btn btn-primary" id="new-post-form">+ New Post</button>
</div>
{{!-- Load the script to handle rendering items in the dashboard --}}
<script src="/js/dashboard.js"></script>
