<form class = "form post-update-form" data_id="{{post.id}}">
    <div class="form-group">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-input" id="update-post-title" value="{{post.title}}">
    </div>
    <div class="form-group">
        <label for="content" class="form-label">Content</label>
        <input type="text" class="form-input" id="update-post-content" value="{{post.body}}">
    </div>
    <button type="submit" class="btn btn-primary" id="update-post">Update Post</button>
    <button type="submit" class="btn btn-primary" id="delete-post">Delete Post</button>
</form>

<script src="../../../js/dashboard.js"></script>