{{!-- Create a script to render posts based on the home-post template for each post in the posts list --}}
<section class="flex-row justify-center">
    {{#each posts as |post|}}
        {{> home-post}}
    {{/each}}
</section>
