<form class = "form login-form">
  <div class="form-group">
    <label for="username-label" class="form-label">Username</label>
    <input type="text" class="form-input" id="username-entered">
  </div>
  <div class="form-group">
    <label for="password-label" class="form-label">Password</label>
    <input type="password" class="form-input" id="password-entered">
  </div>
  <div class="form-group">
    <a href="/signup">Sign up instead</a>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="./js/login.js"></script>