<form>
  <div class="mb-3">
    <label for="username-label" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-entered" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password-label" class="form-label">Password</label>
    <input type="text" class="form-control" id="entered-password">
  </div>
  <div class="mb-3">
    <a href="/login">Login instead</a>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>